@model Insights.Models.DateClassModel
@{
    ViewBag.Title = "MyIncentive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>MyIncentive</h2>
<h2>@Session["refNo"].ToString()</h2>*@
@*<h2>"@TempData["StartDate"].ToString()"</h2>*@
<style>
    .hidden {
        display: none;
    }

    .refreshicon {
        font-size: 0.7em;
        cursor: pointer;
    }

    .dt-buttons a {
        width: 32px;
        line-height: 0;
        margin-top: 20px;
    }

    .dt-buttons span {
        font-size: 14px;
        margin-left: -13px;
    }

    #modalHistory .dataTables_filter{
        display: flex;
        justify-content: flex-end;
    }
            .ti-calendar{
            background-color:white;
        }
        .dateProp{
            background-color:white !important;
        }

</style>

<div class="abc">
    <h2 style="margin-bottom:30px; display:flex; justify-content:space-between">Orders and Incentive Details <span class="refreshicon"><i class="fa fa-refresh " aria-hidden="true" onclick="refreshPage();"></i> </span></h2>


    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


    <div class="modal fade" id="modalHistory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header ">
                    <h4 class="modal-title w-100 font-weight-bold" id="addressValue" name="addressValue"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="col-sm-12 " id="Table_orderHistory">
                        <table id="HistoryDetails" class="table dataTable no-footer" style="width:100%">
                            <thead>
                                <tr>
                                    @*<th>Sl.No</th>*@
                                    @*<th>Order Id</th>*@
                                    @*<th>Address</th>*@
                                    @*<th>Employee Name</th>*@
                                    <th>STATUS</th>
                                    <th>STATUS REASON</th>
                                    <th>WEIGHATGE</th>
                                    <th>UPDATE TIME</th>
                                   
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer d-flex ">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("MyIncentive", "Home", FormMethod.Post, new { @class = "col-md-9", style = "display:contents;", name = "frm", id = "frm", onsubmit = "loadergif(1);" }))
    {
        <div class="col-md-12">
            <div class="row" style="margin-bottom:40px;">
                <div class="col-md-3">
                    <label>From Date</label>
                    <div id="date-form" class="input-group date txtfromdate">
                        @Html.TextBoxFor(a => a.StartDate, new { @class = "form-control dateProp", id = "txtfromdate", placeholder = "StartDate", autocomplete = "off", required = "" })
                        @*<input type="text" id="txtfromdate" class="form-control" />*@
                        <span class="input-group-addon input-group-append border-left">
                            <span class="ti-calendar input-group-text">
                            </span>
                        </span>
                        @Html.ValidationMessageFor(a => a.StartDate)
                    </div>
                    <label style="font: italic 13px/21px serif; color: #9d9d9d;">(MM / DD / YYYY)</label>
                </div>
                <div class="col-md-3">
                    <label>To Date</label>
                    <div id="to-date-form" class="input-group date txttodate">
                        @Html.TextBoxFor(a => a.EndDate, new { @class = "form-control icon dateProp", id = "txttodate", placeholder = "EndDate", autocomplete = "off", required = "" })
                        @*<input type="text" id="txttodate" class="form-control" />*@
                        <span class="input-group-addon input-group-append border-left">
                            <span class="ti-calendar input-group-text"></span>
                        </span>
                        @Html.ValidationMessageFor(a => a.EndDate)
                    </div>
                    <label style="font: italic 13px/21px serif; color: #9d9d9d;">(MM / DD / YYYY)</label>
                </div>
                <div class="col-md-3">
                    <label><br /></label>
                    <div class="md-form mb-5">
                        <button type="submit" class="btn btn-primary" title="Generate Report"><i class="fa fa-cogs" style="margin-right: 5px;" aria-hidden="true"></i> Generate Report </button>
                    </div>
                </div>

            </div>
        </div>
    }

    <div class="col-sm-12 hidden" id="hiddenTable_employee">
        <table id="EmployeeDetails" class="table dataTable no-footer" style="width:100%">
            <thead>
                <tr>
                    <th>SL.NO</th>
                    <th class="hidden">ORDER ID</th>
                    <th>ADDRESS</th>
                    <th>WEIGHTAGE</th>
                    <th>LOSS</th>
                    <th>GAIN</th>
                    <th>COMPLETED DATE</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script type="text/JavaScript" src="https://MomentJS.com/downloads/moment-with-locales.js"></script>

<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js" defer></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js" defer></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js" defer></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js" defer></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js" defer></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js" defer></script>
<script src="https://cdn.datatables.net/plug-ins/1.12.1/api/sum().js" defer></script>


<script src="https://www.bootstrapdash.com/demo/skydash/template/vendors/select2/select2.min.js"></script>
<script src="https://www.bootstrapdash.com/demo/skydash/template/js/select2.js"></script>

<script>
    var employeeNames=null;
    var a=@Session["refNo"].ToString();
    var h;
    console.log(a);
    $(document).ready(function () {

       



        var cudt = new Date();

        $('#date-form').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: false,
            autoclose: true,
            format: "mm/dd/yyyy",
            todayHighlight: false
        });

        $('#to-date-form').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: false,
            autoclose: true,
            format: "mm/dd/yyyy",
            todayHighlight: false
        });

        //var cudate = GetDateFormat(cudt, 'mm/dd/yy');

        var startDate = "@TempData["StartDate"].ToString()";

        var startSplit = startDate.split(" ");

        startDate = startSplit[0];

        var endDate = "@TempData["EndDate"].ToString()";

        var endSplit = endDate.split(" ");

        endDate = endSplit[0];

        $("#txttodate").val(endDate);
        $("#txtfromdate").val(startDate);

        generatetable();

        $.fn.dataTable.moment('mm/dd/yyyy');
    });

    function GetDateFormat(sDateTime, dtFormat) {

        //var DateTime = sDateTime ;
        //var year = DateTime.substring(0, 4);
        //var month = DateTime.substring(5, 7);
        //var date = DateTime.substring(8, 10);

        //var dob = month + '/' + date + '/' + year;

        const monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"];

        const dateObj = sDateTime; // new Date();

        const month = dateObj.getMonth();

        const day = String(dateObj.getDate()).padStart(2, '0');

        const year = dateObj.getFullYear();

        const output = parseInt(month + 1) + '/' + day + '/' + year;

        return output;

    }


    function generatetable() {

        var  Result = @Html.Raw(Json.Encode(ViewBag.Data));
        var  StartDate = @Html.Raw(Json.Encode(ViewBag.fromDate));
        var  EndDate = @Html.Raw(Json.Encode(ViewBag.toDate));

        Result = Result.Data;
        //var sEmployee = $("#ddlEmployee").val();


        if(Result !=null )
        {


                $('#hiddenTable_employee').removeClass('hidden');
                $('#EmployeeDetails').DataTable().clear().destroy();

                Data = Result;

                Datas = jQuery.parseJSON(Data);

                var length = Datas.length;

                var table = document.getElementById('EmployeeDetails');

                for (var i = table.rows.length - 1; i > 0; i--) {
                    table.deleteRow(i);
                }

                for (var i = 0; i < length; i++) {
                    if (Datas[i].weightage_value == undefined)
                        Datas[i].weightage_value = "-";
                    if (Datas[i].initial_value == undefined)
                        Datas[i].initial_value = "-";
                    if (Datas[i].final_value == undefined)
                        Datas[i].final_value = "-";
                    if (Datas[i].amount < 0)
                        Datas[i].amount = "0";

                    var final_value = Datas[i].final_value;
                    var amount = Datas[i].amount;

                    //var initial_value = Datas[i].initial_value;

                    if(Datas[i].amount>0)
                    {
                        amount="<span style='color:red;'>"+Datas[i].amount+"</span>"
                    }

                    //if(Datas[i].initial_value>Datas[i].final_value)
                    //{
                    //    final_value="<span style='color:red;'>"+Datas[i].final_value+"</span>"
                    //}
                    
                    $('#EmployeeDetails').append(
                        '<tr id="' + i + '">' +
                            '<td>' + Datas[i].Sl_no + '</td>' +
                            '<td class="hidden">' + Datas[i].order_id + '</td>' +
                            '<td>' + Datas[i].subject_address + '</td>' +
                            '<td>' + Datas[i].weightage_value + '</td>' +
                            '<td>' + amount + '</td>' +
                            '<td>' + final_value + '</td>' +
                            '<td>' + 
    
     + '</td>' +
                            '<td><a href="#" onclick="historyId(' + i + ')"><i class="fa fa-list-ul" style="color: #4B49AC;" aria-hidden="true"></i></a></td>' +
                       '</tr>');
                    
                }



                
                //setTimeout(function () {
                $('#EmployeeDetails').DataTable({


                    "bpaging": false,
                    "bDestroy": true,
                    scrollX: true,
                    dom: 'Blfrtip',
                    buttons: [
                           {
                               extend: 'pdf',
                               footer: true,
                               exportOptions: {
                                   columns: [0, 1, 2, 3, 4],
                                   orthogonal: "export",
                                   rows: function (idx, data, node) {
                                       number = 1;
                                       return true;
                                   }
                               }
                           },
                               {
                                   extend: 'csv',
                                   footer: false

                               },
                               {
                                   extend: 'excelHtml5',
                                   footer: false,
                                   exportOptions: {
                                       columns: [0, 1, 2, 3, 4]
                                   }
                               }
                    ],
                    columnDefs: [
                            { orderable: false, targets: [7] },
                            {
                                render: function (data, type, full, meta) {
                                    return "<div class='text-wrap width-200'>" + data + "</div>";
                                },
                                targets: 2
                            }
                    ]

                });

                var table = $('#EmployeeDetails').DataTable();
                h = table.column( 3 ).data().sum();
                var b = table.column( 4 ).data().sum();
                var c = table.column( 5 ).data().sum();

                $("#EmployeeDetails").append('<tfoot><tr style="color: #4b49ac;">'+
                    '<th></th>'+
                    '<th style="text-align:center">Total:</th>'+
                    '<th id="wSum">-</th>'+
                    '<th id="iniSum">-</th>' +
                    '<th id="finSum">-</th>' +
                    '<th></th>' +
                    '</tr>'+
                    '</tfoot>');
                $('#wSum').text(h.toFixed(2));
                $('#iniSum').text(b.toFixed(2));
                $('#finSum').text(c.toFixed(2));
                $(".dt-button").addClass("btn btn-outline-primary btn-fw");
                $(".dt-button").removeClass("dt-button");
                $('#hiddenTable_date').addClass('hidden');
                $('#hiddenTable_employee').removeClass('hidden');


            







        }

    }

    function refreshPage(){
        location.href=location.href;
    }

    var address;

    function historyId(rowid){

        $('#HistoryDetails').DataTable().clear().destroy();

        var order_Id = document.getElementById(rowid).childNodes[1].outerText;
        address = document.getElementById(rowid).childNodes[2].outerText;

        var strJsonDatas = eval({ orderId: order_Id })
        //console.log(order_Id)
        //console.log(address)
        $('#addressValue').text("History of " + address);

        $.ajax({
            type: "POST",
            async: false,
            url: "getEmployeeHistoryDetails",
            data: JSON.stringify(strJsonDatas),
            contentType: "application/json; charset=utf-8",
            //dataType: "local",
            success: function (msg) {

                var Details = msg;
                var Result = jQuery.parseJSON(Details);

                

                if (Result != '' && Result != null) {

                    //Result = Result.Data;
                    

                    Datas = Result;

                    //Datas = jQuery.parseJSON(Data);

                    var length = Datas.length;

                    var table = document.getElementById('HistoryDetails');

                    //for (var i = table.rows.length - 1; i > 0; i--) {
                    //    table.deleteRow(i);
                    //}

                    for (var i = 0; i < length; i++) {


                        $('#HistoryDetails').append(
                            '<tr id="' + i + '">' +

                                //'<td>' + Datas[i].EmployeeName + '</td>' +
                                '<td>' + Datas[i].Status + '</td>' +
                                '<td>' + Datas[i].StatusReason + '</td>' +
                                '<td>' + Datas[i].WeightageAmount + '</td>' +
                                '<td>' + Datas[i].UpdatedTime + '</td>' +
                           '</tr>');

                    }
                   
                    //setTimeout(function () {
                    $('#HistoryDetails').DataTable({
                        searching: false, paging: false, info: false
                    })
                }
            }
        })

                $(".dt-button").addClass("btn btn-outline-primary btn-fw")
                $(".dt-button").removeClass("dt-button")


        $("#modalHistory").modal('show');
    }

</script>